Repository Police-Data-Accessibility-Project/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

chore(docs): auto-update to component docs
  docs/components.md
Due: none

Notes added by 'git notes add'
  8374ffa06edde50cd7b1f0d61ed8069412fea06d
Due: none

Notes added by 'git notes add'
  f454662237eda94565c2d00ee2c9861ba09b3088
Due: none

chore(config): update linting configs
  eslint-config/index.js
  eslint-config/package.json
  package-lock.json
  package.json
  src/config/index.ts
  stylelint.config.mjs
Due: eslint src --ext .ts .

chore(lint): update components per new linting rules
  src/components/Breadcrumbs/PdapBreadcrumbs.vue
  src/components/Breadcrumbs/__snapshots__/breadcrumbs.spec.ts.snap
  src/components/Dropdown/PdapDropdown.vue
  src/components/Dropdown/__snapshots__/PdapDropdown.spec.ts.snap
  src/components/Footer/PdapFooter.vue
  src/components/Footer/__snapshots__/footer.spec.ts.snap
  src/components/Header/PdapHeader.vue
  src/components/Header/__snapshots__/header.spec.ts.snap
  src/components/Nav/PdapNav.vue
  src/components/Nav/__snapshots__/nav.spec.ts.snap
  src/components/Nav/nav.spec.ts
  src/components/Nav/types.ts
  src/components/Spinner/PdapSpinner.vue
  src/components/Spinner/__snapshots__/spinner.spec.ts.snap
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

chore(cleanup): miscellaneous updates
  src/components/Button/PdapButton.vue
  src/components/Footer/PdapFooter.vue
  src/components/Nav/PdapNav.vue
  src/components/Spinner/PdapSpinner.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

chore(config): publish new eslint config version
  eslint-config/package.json
  package-lock.json
Due: none

ci: add accessibility linting and fix existing issues (#90)
  eslint-config/index.js
  eslint-config/package.json
  package-lock.json
  package.json
  src/components/Breadcrumbs/PdapBreadcrumbs.vue
  src/components/Breadcrumbs/__snapshots__/breadcrumbs.spec.ts.snap
  src/components/Button/PdapButton.vue
  src/components/Dropdown/PdapDropdown.vue
  src/components/Dropdown/__snapshots__/PdapDropdown.spec.ts.snap
  src/components/Footer/PdapFooter.vue
  src/components/Footer/__snapshots__/footer.spec.ts.snap
  src/components/Header/PdapHeader.vue
  src/components/Header/__snapshots__/header.spec.ts.snap
  src/components/Nav/PdapNav.vue
  src/components/Nav/__snapshots__/nav.spec.ts.snap
  src/components/Nav/nav.spec.ts
  src/components/Nav/types.ts
  src/components/Spinner/PdapSpinner.vue
  src/components/Spinner/__snapshots__/spinner.spec.ts.snap
  src/config/index.ts
  stylelint.config.mjs
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

docs(github): add pr template
  .github/pull_request_template.md
Due: none

Notes added by 'git notes add'
  f701e72e8412b10e0d7d68adfe59584e8262e464
Due: none

fix(components): preserve input values on form errors
  src/components/Form/PdapForm.vue
  src/components/Form/README.md
  src/components/Form/types.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

test(components): update Form test
  src/components/Form/form.spec.ts
Due: eslint src --ext .ts .

chore(demom): add demo signin form
  src/demo/pages/SignupFormDemo.vue
  src/demo/router.js
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(demo): lint errors
  src/components/Form/PdapForm.vue
  src/demo/pages/SignupFormDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: update broken import
  src/demo/pages/SignupFormDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(components): update form to use `input` rather than `change`
  src/components/Form/PdapForm.vue
  src/demo/pages/SignupFormDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

docs(components): update form docs
  src/components/Form/README.md
  src/demo/pages/SignupFormDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(components): make resetOn prop optional
  src/components/Form/types.ts
  src/demo/pages/SignupFormDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(demo): add autocomplete attr to demo page forms
  src/components/Form/PdapForm.vue
  src/demo/pages/ComponentDemo.vue
  src/demo/pages/SignupFormDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor(demo): update form stuff
  src/components/Form/PdapForm.vue
  src/components/Form/form.spec.ts
  src/components/Header/PdapHeader.vue
  src/components/Input/Checkbox/InputCheckbox.vue
  src/components/Input/PdapInput.vue
  src/components/Input/Text/InputText.vue
  src/demo/pages/SignupFormDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(variables.css): add more brand colors
  src/styles/variables.css
Due: stylelint 'src/**/*.{css,vue}'

fix: preserve form input values on custom form validation (#91)
  src/components/Form/PdapForm.vue
  src/components/Form/README.md
  src/components/Form/form.spec.ts
  src/components/Form/types.ts
  src/components/Header/PdapHeader.vue
  src/components/Input/Checkbox/InputCheckbox.vue
  src/components/Input/PdapInput.vue
  src/components/Input/Text/InputText.vue
  src/demo/pages/ComponentDemo.vue
  src/demo/pages/SignupFormDemo.vue
  src/demo/router.js
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  aeaefc3cf1784cea852a05698bc375bd7487c289
Due: none

fix(css): add scales and neutrals
  src/config/index.ts
  src/styles/variables.css
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(tailwind-config): darker default brand gold
  src/config/index.ts
Due: eslint src --ext .ts .

fix(css): brand color clarity
  src/components/Input/PdapInput.vue
  src/config/index.ts
  src/styles/variables.css
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: accessible colors and set up more neutrals (#93)
  src/components/Input/PdapInput.vue
  src/config/index.ts
  src/styles/variables.css
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  cd3fefe70756704635f324a625e207bd6a809da0
Due: none

fix(components): spinner render logic
  src/components/Spinner/PdapSpinner.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

test(components): update spinner snapshot
  src/components/Spinner/__snapshots__/spinner.spec.ts.snap
Due: none

fix(components): spinner transitions
  src/components/Spinner/PdapSpinner.vue
  src/components/Spinner/__snapshots__/spinner.spec.ts.snap
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: spinner render logic (#94)
  src/components/Spinner/PdapSpinner.vue
  src/components/Spinner/__snapshots__/spinner.spec.ts.snap
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  f4908166638aa98e63ee66535522a419046ce32b
Due: none

feat(new-default-font): public sans
  index.html
  src/config/index.ts
Due: eslint src --ext .ts .

feat(new-default-font): public sans (#95)
  index.html
  src/config/index.ts
Due: eslint src --ext .ts .

Notes added by 'git notes add'
  c4faab836d2173e7b195ece69ea5f486b181dd60
Due: none

fix(config): update commitlint config footer rule
  commitlint.config.js
Due: eslint src --ext .ts .

Notes added by 'git notes add'
  0769c969b8119c254e016ddfa9a5b4ee01743d3f
Due: none

fix(config): fix commitlint config
  commitlint.config.js
Due: eslint src --ext .ts .

Notes added by 'git notes add'
  9a830d89396bcaf12f4ba01a6517d10439f8db1b
Due: none

Path conditions:
  eslint src --ext .ts .: any of: *.{js,jsx,ts,tsx,vue}
  stylelint 'src/**/*.{css,vue}': any of: *.{css,vue}
