Repository Police-Data-Accessibility-Project/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

.lintstagedrc:

{    
  "*.{js,jsx,ts,tsx,vue}": [
      "eslint src --ext .ts ."
    ],
  "*.{css,vue}": [
      "stylelint 'src/**/*.{css,vue}'"
    ]
}

ci(workflows): update coverage badge workflow
  .github/workflows/coverage.yaml
Due: none

ci(workflows): update build badge workflow
  .github/workflows/build.yaml
Due: none

chore(badges): remove unnecessary code related to build and coverage badges
  .vscode/extensions.json
  README.md
  badges/build.svg
  badges/coverage.svg
  package-lock.json
  package.json
  tools/generateBuildBadge.js
  tools/generateCoverageBadge.js
Due: eslint src --ext .ts .

refactor: update badges (#57)
  .github/workflows/build.yaml
  .github/workflows/coverage.yaml
  .vscode/extensions.json
  README.md
  badges/build.svg
  badges/coverage.svg
  package-lock.json
  package.json
  tools/generateBuildBadge.js
  tools/generateCoverageBadge.js
Due: eslint src --ext .ts .

refactor: miscellaneous updates (#56)
  .github/workflows/build.yaml
  .github/workflows/coverage.yaml
  .vscode/extensions.json
  README.md
  badges/build.svg
  badges/coverage.svg
  bin/pdap-design-system-cli.js
  cli/index.js
  package-lock.json
  package.json
  tools/generateBuildBadge.js
  tools/generateCoverageBadge.js
Due: eslint src --ext .ts .

Notes added by 'git notes add'
  9d4dac795ca4a93b1e1bfa615188c8a4e17b7e76
Due: none

chore(ci): update badge url [no ci]
  README.md
Due: none

ci(release): update release config
  release.config.cjs
Due: none

ci(release): update release config (#65)
  release.config.cjs
Due: none

docs(readme): update README with release process
  README.md
Due: none

ci(workflows): update GH release workflow to run on beta
  .github/workflows/release.yaml
Due: none

ci: update release workflow to include beta releases (#66)
  .github/workflows/release.yaml
  README.md
  release.config.cjs
Due: none

chore(github): update codeowners file
  .github/CODEOWNERS
Due: none

fix: codeowners
  .github/CODEOWNERS
Due: none

chore(config): update codeowners file (#67)
  .github/CODEOWNERS
Due: none

feat(demo): add page to demo components
  README.md
  docs/components.md
  index.html
  package.json
  src/assets/acronym.svg
  src/assets/lockup.svg
  src/components/FlexContainer/FlexContainer.vue
  src/components/Footer/PdapFooter.vue
  src/components/Footer/__snapshots__/footer.spec.ts.snap
  src/components/Footer/footer.spec.ts
  src/components/GridContainer/GridContainer.vue
  src/components/GridItem/GridItem.vue
  src/components/Header/PdapHeader.vue
  src/components/Header/header.spec.ts
  src/components/Input/PdapInput.vue
  src/components/QuickSearchForm/QuickSearchForm.vue
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/demo/App.vue
  src/demo/main.ts
  src/demo/pages/ComponentDemo.vue
  src/demo/router.js
  src/styles/base.css
  src/styles/components.css
  src/styles/styles.css
  src/styles/utilities.css
  src/vite-env.d.ts
  vite.config.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(demo): add demo components page [no ci] (#69)
  README.md
  docs/components.md
  index.html
  package.json
  src/assets/acronym.svg
  src/assets/lockup.svg
  src/components/FlexContainer/FlexContainer.vue
  src/components/Footer/PdapFooter.vue
  src/components/Footer/__snapshots__/footer.spec.ts.snap
  src/components/Footer/footer.spec.ts
  src/components/GridContainer/GridContainer.vue
  src/components/GridItem/GridItem.vue
  src/components/Header/PdapHeader.vue
  src/components/Header/header.spec.ts
  src/components/Input/PdapInput.vue
  src/components/QuickSearchForm/QuickSearchForm.vue
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/demo/App.vue
  src/demo/main.ts
  src/demo/pages/ComponentDemo.vue
  src/demo/router.js
  src/styles/base.css
  src/styles/components.css
  src/styles/styles.css
  src/styles/utilities.css
  src/vite-env.d.ts
  vite.config.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(components): add checkbox component to Form
  docs/components.md
  src/components/Form/PdapForm.vue
  src/components/Form/__snapshots__/form.spec.ts.snap
  src/components/Form/form.spec.ts
  src/components/Form/types.ts
  src/components/Input/Checkbox/InputCheckbox.vue
  src/components/Input/PdapInput.vue
  src/components/Input/Text/InputText.vue
  src/components/Input/__snapshots__/input.spec.ts.snap
  src/components/Input/input.spec.ts
  src/components/Input/types.ts
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/demo/pages/ComponentDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor: form updates
  src/components/Form/PdapForm.vue
  src/components/Input/Checkbox/InputCheckbox.vue
  src/components/Input/PdapInput.vue
  src/components/Input/utils.ts
  src/demo/pages/ComponentDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

test: update tests
  src/components/Form/__snapshots__/form.spec.ts.snap
  src/components/Input/__snapshots__/input.spec.ts.snap
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
Due: none

refactor(components): add pointer cursor to checkbox input
  src/components/Input/PdapInput.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat: checkbox input (#70)
  docs/components.md
  src/components/Form/PdapForm.vue
  src/components/Form/__snapshots__/form.spec.ts.snap
  src/components/Form/form.spec.ts
  src/components/Form/types.ts
  src/components/Input/Checkbox/InputCheckbox.vue
  src/components/Input/PdapInput.vue
  src/components/Input/Text/InputText.vue
  src/components/Input/__snapshots__/input.spec.ts.snap
  src/components/Input/input.spec.ts
  src/components/Input/types.ts
  src/components/Input/utils.ts
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/demo/pages/ComponentDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(components): add Breadcrumbs component
  src/components/Breadcrumbs/PdapBreadcrumbs.vue
  src/components/Breadcrumbs/index.ts
  src/components/index.ts
  src/utils/breadcrumbs.test.ts
  src/utils/breadcrumbs.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

test(components): add tests for Breadcrumbs component
  src/components/Breadcrumbs/__snapshots__/breadcrumbs.spec.ts.snap
  src/components/Breadcrumbs/breadcrumbs.spec.ts
Due: eslint src --ext .ts .

docs(components): document Breadcrumbs component
  docs/components.md
Due: none

chore(components): add Breadcrumbs to demo app
  src/demo/pages/ComponentDemo.vue
  src/demo/router.js
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor(components): breadcrumbs class name
  src/components/Breadcrumbs/PdapBreadcrumbs.vue
  src/components/Breadcrumbs/__snapshots__/breadcrumbs.spec.ts.snap
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(components): add animations to breadcrumbs
  src/components/Breadcrumbs/PdapBreadcrumbs.vue
  src/components/Breadcrumbs/__snapshots__/breadcrumbs.spec.ts.snap
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor(components): update breadcrumbs li keys
  src/components/Breadcrumbs/PdapBreadcrumbs.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor(components): update breadcrumbs animation
  src/components/Breadcrumbs/PdapBreadcrumbs.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(components): add ErrorBoundary component
  src/components/ErrorBoundary/PdapErrorBoundary.vue
  src/components/ErrorBoundary/__snapshots__/error-boundary.spec.ts.snap
  src/components/ErrorBoundary/error-boundary.spec.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(components): add ErrorBoundary (#73)
  src/components/ErrorBoundary/PdapErrorBoundary.vue
  src/components/ErrorBoundary/__snapshots__/error-boundary.spec.ts.snap
  src/components/ErrorBoundary/error-boundary.spec.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

chore: update beta with main [no ci] (#75)
  src/components/ErrorBoundary/PdapErrorBoundary.vue
  src/components/ErrorBoundary/__snapshots__/error-boundary.spec.ts.snap
  src/components/ErrorBoundary/error-boundary.spec.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Revert "chore: update beta with main [no ci] (#75)"
  src/components/ErrorBoundary/PdapErrorBoundary.vue
  src/components/ErrorBoundary/__snapshots__/error-boundary.spec.ts.snap
  src/components/ErrorBoundary/error-boundary.spec.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

revert "chore: update beta with main [no ci]" (#76)
  src/components/ErrorBoundary/PdapErrorBoundary.vue
  src/components/ErrorBoundary/__snapshots__/error-boundary.spec.ts.snap
  src/components/ErrorBoundary/error-boundary.spec.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

chore(config): release
  release.config.cjs
Due: none

feat: breadcrumbs component (#72)
  docs/components.md
  src/components/Breadcrumbs/PdapBreadcrumbs.vue
  src/components/Breadcrumbs/__snapshots__/breadcrumbs.spec.ts.snap
  src/components/Breadcrumbs/breadcrumbs.spec.ts
  src/components/Breadcrumbs/index.ts
  src/components/index.ts
  src/demo/pages/ComponentDemo.vue
  src/demo/router.js
  src/utils/breadcrumbs.test.ts
  src/utils/breadcrumbs.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(directives): add click outside directive
  src/directives/click-outside.ts
  src/directives/index.ts
Due: eslint src --ext .ts .

feat(components): add dropdown component
  src/components/Dropdown/PdapDropdown.vue
  src/components/Dropdown/index.ts
  src/components/Dropdown/types.ts
  src/components/index.ts
  src/index.ts
  tsconfig.json
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

test(components): add tests for dropdown
  src/components/Dropdown/PdapDropdown.spec.ts
  src/components/Dropdown/__snapshots__/PdapDropdown.spec.ts.snap
Due: eslint src --ext .ts .
