Repository Police-Data-Accessibility-Project/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

chore(workflows): skip commit message linting [no ci]
  .github/workflows/pull.yaml
  .github/workflows/release.yaml
Due: none

Notes added by 'git notes add'
  f4a0b66c30f7ff6ce0aac82cf8f5bcabf02ebfb2
Due: none

fix(workflows): skip commit message linting (#99)
  .github/workflows/pull.yaml
  .github/workflows/release.yaml
Due: none

Notes added by 'git notes add'
  b2f21ad856590498c497a35cb8d0770f2a23e2ca
Due: none

refactor(components): update form
  src/components/Form/PdapForm.vue
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/demo/pages/ComponentDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(components): update form v-bind order
  src/components/Form/PdapForm.vue
  src/components/Form/__snapshots__/form.spec.ts.snap
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(components): expose setValues handler from Form
  src/components/Form/PdapForm.vue
  src/demo/pages/ComponentDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(components): duplicate attrs binding in Form
  src/components/Form/PdapForm.vue
  src/components/Form/__snapshots__/form.spec.ts.snap
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

test(components): update form test
  src/components/Form/form.spec.ts
Due: eslint src --ext .ts .

refactor(components): miscellaneous form updates (#100)
  src/components/Form/PdapForm.vue
  src/components/Form/form.spec.ts
  src/demo/pages/ComponentDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  08965c12493105b885b5f433cbde7b68eeb184a7
Due: none

Notes added by 'git notes add'
  44e2207fe8bbac0f32a9d6aee6e5e95232c7f8bc
Due: none

chore(deps): add font awesome
  package-lock.json
  package.json
Due: none

feat(components): create RecordTypeIcon component and associated tests
  src/components/RecordTypeIcon/RecordTypeIcon.vue
  src/components/RecordTypeIcon/__snapshots__/recordTypeIcon.spec.ts.snap
  src/components/RecordTypeIcon/index.ts
  src/components/RecordTypeIcon/recordTypeIcon.spec.ts
  src/components/RecordTypeIcon/util.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor(form and inputs): update form and input components
  src/components/Form/__snapshots__/form.spec.ts.snap
  src/components/Input/PdapInput.vue
  src/components/Input/__snapshots__/input.spec.ts.snap
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/components/index.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat: add record type icon to form input labels (#103)
  package-lock.json
  package.json
  src/components/Form/__snapshots__/form.spec.ts.snap
  src/components/Input/PdapInput.vue
  src/components/Input/__snapshots__/input.spec.ts.snap
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/components/RecordTypeIcon/RecordTypeIcon.vue
  src/components/RecordTypeIcon/__snapshots__/recordTypeIcon.spec.ts.snap
  src/components/RecordTypeIcon/index.ts
  src/components/RecordTypeIcon/recordTypeIcon.spec.ts
  src/components/RecordTypeIcon/util.ts
  src/components/index.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  7ac0e6ec8a6cbdbcb96bccf00d3cc9a0480468f9
Due: none

fix(colors): color-neutral-200
  src/styles/variables.css
Due: stylelint 'src/**/*.{css,vue}'

fix(colors): update color-neutral-200 (#104)
  src/styles/variables.css
Due: stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  a4491b0c10d028855523df51e1cc412cbce64b2d
Due: none

feat(components): build FormV2
  src/components/Form/PdapForm.vue
  src/components/FormV2/PdapFormV2.vue
  src/components/FormV2/__snapshots__/formv2.spec.ts.snap
  src/components/FormV2/formv2.spec.ts
  src/components/FormV2/index.ts
  src/components/FormV2/types.ts
  src/components/FormV2/util.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(components): v2 input components
  commitlint.config.js
  src/components/Input/PdapInput.vue
  src/components/InputCheckbox/PdapInputCheckbox.vue
  src/components/InputCheckbox/index.ts
  src/components/InputCheckbox/types.ts
  src/components/InputPassword/PdapInputPassword.vue
  src/components/InputPassword/index.ts
  src/components/InputText/PdapInputText.vue
  src/components/InputText/index.ts
  src/components/InputText/types.ts
  src/components/index.ts
  src/demo/pages/FormV2Demo.vue
  src/demo/router.js
  src/index.ts
  src/styles/components.css
  tsconfig.json
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor(components): form v2 follow-ups
  src/components/FormV2/PdapFormV2.vue
  src/demo/pages/FormV2Demo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat: form v2 and inputs v2 (#105)
  commitlint.config.js
  src/components/Form/PdapForm.vue
  src/components/FormV2/PdapFormV2.vue
  src/components/FormV2/__snapshots__/formv2.spec.ts.snap
  src/components/FormV2/formv2.spec.ts
  src/components/FormV2/index.ts
  src/components/FormV2/types.ts
  src/components/FormV2/util.ts
  src/components/Input/PdapInput.vue
  src/components/InputCheckbox/PdapInputCheckbox.vue
  src/components/InputCheckbox/index.ts
  src/components/InputCheckbox/types.ts
  src/components/InputPassword/PdapInputPassword.vue
  src/components/InputPassword/index.ts
  src/components/InputText/PdapInputText.vue
  src/components/InputText/index.ts
  src/components/InputText/types.ts
  src/components/index.ts
  src/demo/pages/FormV2Demo.vue
  src/demo/router.js
  src/index.ts
  src/styles/components.css
  tsconfig.json
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  c362b2e199f67f8a9b182016deae2f0cdf05a118
Due: none

fix(components): form v2 bugs
  src/components/FormV2/PdapFormV2.vue
  src/demo/pages/FormV2Demo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: miscellaneous form v2 bugs (#108)
  src/components/FormV2/PdapFormV2.vue
  src/demo/pages/FormV2Demo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  3cf95f6d1accb8dfd42d43175956eee310132ba9
Due: none

fix(components): input label slots
  src/components/InputCheckbox/PdapInputCheckbox.vue
  src/components/InputPassword/PdapInputPassword.vue
  src/components/InputText/PdapInputText.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: input v2 labelling (#109)
  src/components/InputCheckbox/PdapInputCheckbox.vue
  src/components/InputPassword/PdapInputPassword.vue
  src/components/InputText/PdapInputText.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  44a9241058080be1d5298439973ae52c5e8058d4
Due: none

chore(scripts): update documentation script
  .husky/post-commit
  scripts/update-docs.sh
Due: none

chore(docs): auto-update to component docs
  docs/components.md
Due: none

refactor(components): update label positioning for input v2 components
  src/components/InputCheckbox/PdapInputCheckbox.vue
  src/components/InputPassword/PdapInputPassword.vue
  src/components/InputText/PdapInputText.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(components): add InputSelect component
  src/components/InputSelect/PdapInputSelect.vue
  src/components/InputSelect/README.md
  src/components/InputSelect/index.ts
  src/components/InputSelect/input-select.spec.ts
  src/components/InputSelect/types.ts
  src/demo/pages/FormV2Demo.vue
  src/styles/components.css
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

test(components): update misc testing code and snapshots
  src/components/FormV2/__snapshots__/formv2.spec.ts.snap
  src/components/InputSelect/input-select.spec.ts
Due: eslint src --ext .ts .

feat(components): create SelectInput (#110)
  .husky/post-commit
  docs/components.md
  scripts/update-docs.sh
  src/components/FormV2/__snapshots__/formv2.spec.ts.snap
  src/components/InputCheckbox/PdapInputCheckbox.vue
  src/components/InputPassword/PdapInputPassword.vue
  src/components/InputSelect/PdapInputSelect.vue
  src/components/InputSelect/README.md
  src/components/InputSelect/index.ts
  src/components/InputSelect/input-select.spec.ts
  src/components/InputSelect/types.ts
  src/components/InputText/PdapInputText.vue
  src/demo/pages/FormV2Demo.vue
  src/styles/components.css
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  ad35c5718bd1dc42185b5426732ca2081245744e
Due: none

feat(components): add textarea input component
  src/components/FormV2/__snapshots__/formv2.spec.ts.snap
  src/components/FormV2/formv2.spec.ts
  src/components/InputTextArea/PdapInputTextArea.vue
  src/components/InputTextArea/index.ts
  src/components/InputTextArea/types.ts
  src/demo/pages/FormV2Demo.vue
  src/styles/components.css
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(components): type of textarea value
  src/components/InputTextArea/PdapInputTextArea.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Path conditions:
  eslint src --ext .ts .: any of: *.{js,jsx,ts,tsx,vue}
  stylelint 'src/**/*.{css,vue}': any of: *.{css,vue}
