Repository Police-Data-Accessibility-Project/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

docs(components): add docs for dropdown
  docs/components.md
Due: none

chore(demo): add dropdown to demo page
  src/demo/pages/ComponentDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

chore(deps): update caniuse
  package-lock.json
  package.json
Due: none

docs(readme): update badge url
  README.md
Due: none

docs(readme): update badge url (#81) [no ci]
  README.md
Due: none

fix(components): rename dropdown css var
  src/components/Dropdown/PdapDropdown.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor: update demo page var
  src/demo/pages/ComponentDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(components): update dropdown animations
  src/components/Dropdown/PdapDropdown.spec.ts
  src/components/Dropdown/PdapDropdown.vue
  src/demo/pages/ComponentDemo.vue
  src/directives/click-outside.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(components): checkbox input updates (#70)
  docs/components.md
  src/components/Form/PdapForm.vue
  src/components/Form/__snapshots__/form.spec.ts.snap
  src/components/Form/form.spec.ts
  src/components/Form/types.ts
  src/components/Input/Checkbox/InputCheckbox.vue
  src/components/Input/PdapInput.vue
  src/components/Input/Text/InputText.vue
  src/components/Input/__snapshots__/input.spec.ts.snap
  src/components/Input/input.spec.ts
  src/components/Input/types.ts
  src/components/Input/utils.ts
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/demo/pages/ComponentDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

chore(config): release
  release.config.cjs
Due: none

revert "chore: update beta with main [no ci]" (#76)
  src/components/ErrorBoundary/PdapErrorBoundary.vue
  src/components/ErrorBoundary/__snapshots__/error-boundary.spec.ts.snap
  src/components/ErrorBoundary/error-boundary.spec.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

chore: update beta with main [no ci] (#75)
  src/components/ErrorBoundary/PdapErrorBoundary.vue
  src/components/ErrorBoundary/__snapshots__/error-boundary.spec.ts.snap
  src/components/ErrorBoundary/error-boundary.spec.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(components): breadcrumbs (#72)
  docs/components.md
  src/components/Breadcrumbs/PdapBreadcrumbs.vue
  src/components/Breadcrumbs/__snapshots__/breadcrumbs.spec.ts.snap
  src/components/Breadcrumbs/breadcrumbs.spec.ts
  src/components/Breadcrumbs/index.ts
  src/components/index.ts
  src/demo/pages/ComponentDemo.vue
  src/demo/router.js
  src/utils/breadcrumbs.test.ts
  src/utils/breadcrumbs.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(components): dropdown (#80)
  docs/components.md
  package-lock.json
  package.json
  src/components/Dropdown/PdapDropdown.spec.ts
  src/components/Dropdown/PdapDropdown.vue
  src/components/Dropdown/__snapshots__/PdapDropdown.spec.ts.snap
  src/components/Dropdown/index.ts
  src/components/Dropdown/types.ts
  src/components/index.ts
  src/demo/pages/ComponentDemo.vue
  src/directives/click-outside.ts
  src/directives/index.ts
  src/index.ts
  tsconfig.json
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

chore(editor): resolve vue extensions
  .vscode/extensions.json
  src/demo/pages/ComponentDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(components): spinner
  src/components/Spinner/PdapSpinner.vue
  src/components/Spinner/index.ts
  src/components/Spinner/types.ts
  src/components/index.ts
  src/styles/utilities.css
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

test(components): spinner
  src/components/Spinner/__snapshots__/spinner.spec.ts.snap
  src/components/Spinner/spinner.spec.ts
Due: eslint src --ext .ts .

chore(demo): add loading components to demo
  src/demo/pages/ComponentDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor(components): miscellaneous updates to loading
  src/components/Spinner/PdapSpinner.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

docs(components): update component docs
  .husky/pre-push
  package.json
  scripts/update-docs.sh
  src/components/Breadcrumbs/PdapBreadcrumbs.vue
  src/components/Breadcrumbs/README.md
  src/components/Breadcrumbs/index.ts
  src/components/Button/PdapButton.vue
  src/components/Button/README.md
  src/components/Button/index.ts
  src/components/Dropdown/PdapDropdown.vue
  src/components/Dropdown/README.md
  src/components/ErrorBoundary/PdapErrorBoundary.vue
  src/components/ErrorBoundary/README.md
  src/components/Footer/PdapFooter.vue
  src/components/Footer/README.md
  src/components/Form/PdapForm.vue
  src/components/Form/README.md
  src/components/Header/PdapHeader.vue
  src/components/Header/README.md
  src/components/Input/README.md
  src/components/Nav/PdapNav.vue
  src/components/Nav/README.md
  src/components/QuickSearchForm/QuickSearchForm.vue
  src/components/QuickSearchForm/README.md
  src/components/TileIcon/TileIcon.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

chore(docs): auto-update to component docs
  docs/components.md
Due: none

docs(README): add new script
  README.md
Due: none

chore(components): remove deprecated components
  src/components/FlexContainer/FlexContainer.vue
  src/components/FlexContainer/__snapshots__/flex-container.spec.ts.snap
  src/components/FlexContainer/flex-container.spec.ts
  src/components/FlexContainer/index.ts
  src/components/FlexContainer/types.ts
  src/components/GridContainer/GridContainer.vue
  src/components/GridContainer/__snapshots__/grid.spec.ts.snap
  src/components/GridContainer/grid.spec.ts
  src/components/GridContainer/index.ts
  src/components/GridContainer/types.ts
  src/components/GridItem/GridItem.vue
  src/components/GridItem/index.ts
  src/components/GridItem/types.ts
  src/components/index.ts
  src/index.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor(errorboundary): miscellaneous improvements
  src/components/ErrorBoundary/PdapErrorBoundary.vue
  src/components/ErrorBoundary/error-boundary.spec.ts
  src/components/ErrorBoundary/index.ts
  src/components/ErrorBoundary/types.ts
  src/components/index.ts
  src/demo/pages/ComponentDemo.vue
  src/index.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Merge remote-tracking branch 'origin/beta' into docs/component-doc-updates
  src/components/ErrorBoundary/PdapErrorBoundary.vue
  src/components/ErrorBoundary/README.md
  src/components/ErrorBoundary/error-boundary.spec.ts
  src/components/ErrorBoundary/index.ts
  src/components/ErrorBoundary/types.ts
  src/components/FlexContainer/FlexContainer.vue
  src/components/FlexContainer/__snapshots__/flex-container.spec.ts.snap
  src/components/FlexContainer/flex-container.spec.ts
  src/components/FlexContainer/index.ts
  src/components/FlexContainer/types.ts
  src/components/GridContainer/GridContainer.vue
  src/components/GridContainer/__snapshots__/grid.spec.ts.snap
  src/components/GridContainer/grid.spec.ts
  src/components/GridContainer/index.ts
  src/components/GridContainer/types.ts
  src/components/GridItem/GridItem.vue
  src/components/GridItem/index.ts
  src/components/GridItem/types.ts
  src/components/index.ts
  src/demo/pages/ComponentDemo.vue
  src/index.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

docs: update component documentation
  .husky/pre-push
  README.md
  docs/components.md
  package.json
  scripts/update-docs.sh
  src/components/Breadcrumbs/PdapBreadcrumbs.vue
  src/components/Breadcrumbs/README.md
  src/components/Breadcrumbs/index.ts
  src/components/Button/PdapButton.vue
  src/components/Button/README.md
  src/components/Button/index.ts
  src/components/Dropdown/PdapDropdown.vue
  src/components/Dropdown/README.md
  src/components/ErrorBoundary/PdapErrorBoundary.vue
  src/components/ErrorBoundary/README.md
  src/components/ErrorBoundary/error-boundary.spec.ts
  src/components/ErrorBoundary/types.ts
  src/components/Footer/PdapFooter.vue
  src/components/Footer/README.md
  src/components/Form/PdapForm.vue
  src/components/Form/README.md
  src/components/Header/PdapHeader.vue
  src/components/Header/README.md
  src/components/Input/README.md
  src/components/Nav/PdapNav.vue
  src/components/Nav/README.md
  src/components/QuickSearchForm/QuickSearchForm.vue
  src/components/QuickSearchForm/README.md
  src/components/TileIcon/TileIcon.vue
  src/demo/pages/ComponentDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  44c536ce930fba44f6caa31af8a0dd3a7bc67e6d
Due: none

Notes added by 'git notes add'
  89afcd54caf4b49c5c3f5bd3cf041369dc7314e4
Due: none

Notes added by 'git notes add'
  b29ef867d87d86d182720cadcac1851215e4b4ca
Due: none

Notes added by 'git notes add'
  043c474e229958962937b14f3109cfda80f1ec43
Due: none

feat(components): loading (#82)
  .vscode/extensions.json
  src/components/Spinner/PdapSpinner.vue
  src/components/Spinner/__snapshots__/spinner.spec.ts.snap
  src/components/Spinner/index.ts
  src/components/Spinner/spinner.spec.ts
  src/components/Spinner/types.ts
  src/components/index.ts
  src/demo/pages/ComponentDemo.vue
  src/styles/utilities.css
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  ba9f960ef999cfa92afea09f703898956cc69421
Due: none

fix(components): update dropdown to require id
  src/components/Dropdown/PdapDropdown.spec.ts
  src/components/Dropdown/PdapDropdown.vue
  src/components/Dropdown/__snapshots__/PdapDropdown.spec.ts.snap
  src/components/Dropdown/types.ts
  src/demo/pages/ComponentDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

docs(components): update dropdown docs
  src/components/Dropdown/README.md
Due: none

refactor(scripts): update docs script output copy
  scripts/update-docs.sh
Due: none

style(scripts): remove white space in docs output
  scripts/update-docs.sh
Due: none

fix(components): update dropdown id (#86)
  scripts/update-docs.sh
  src/components/Dropdown/PdapDropdown.spec.ts
  src/components/Dropdown/PdapDropdown.vue
  src/components/Dropdown/README.md
  src/components/Dropdown/__snapshots__/PdapDropdown.spec.ts.snap
  src/components/Dropdown/types.ts
  src/demo/pages/ComponentDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  31f52b54c55dd7b3581d1becea26ee5a0985006c
Due: none

docs(components): add spinner docs
  src/components/Spinner/PdapSpinner.vue
  src/components/Spinner/README.md
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Path conditions:
  eslint src --ext .ts .: any of: *.{js,jsx,ts,tsx,vue}
  stylelint 'src/**/*.{css,vue}': any of: *.{css,vue}
