Repository Police-Data-Accessibility-Project/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(components): update form change emit
  src/components/FormV2/PdapFormV2.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: form not emitting on change on safari (#121)
  package-lock.json
  src/components/FormV2/PdapFormV2.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  69f88980e110049100142726cebf866fda9ecccc
Due: none

refactor(utils): add url validator to vuelidate impl
  src/demo/pages/FormV2Demo.vue
  src/utils/vuelidate.test.ts
  src/utils/vuelidate.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  a8603bf41ae2e461603da95b15a278722cccbf13
Due: none

refactor(components): update select menu -> combobox
  src/components/InputSelect/PdapInputSelect.vue
  src/components/InputSelect/input-select.spec.ts
  src/components/InputSelect/types.ts
  src/demo/pages/FormV2Demo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor(components): update select menu -> combobox (#122)
  src/components/InputSelect/PdapInputSelect.vue
  src/components/InputSelect/input-select.spec.ts
  src/components/InputSelect/types.ts
  src/demo/pages/FormV2Demo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  13ba96017d8e4810689f33486f8e9426fa6acab8
Due: none

fix(components): input select corner cases
  src/components/InputSelect/PdapInputSelect.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

chore(deps): add date picker lib
  package-lock.json
  package.json
Due: none

feat(components): add date picker input
  src/components/InputDatePicker/PdapInputDatePicker.vue
  src/components/InputDatePicker/index.ts
  src/components/InputDatePicker/input-date-picker.spec.ts
  src/components/InputDatePicker/types.ts
  src/components/index.ts
  src/demo/pages/FormV2Demo.vue
  src/index.ts
  src/styles/components.css
  stylelint.config.mjs
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

chore(docs): auto-update to component docs
  docs/components.md
Due: none

docs(components): add docs for date picker
  src/components/InputDatePicker/README.md
Due: none

test(components): add snapshot checks for date picker
  src/components/InputDatePicker/__snapshots__/input-date-picker.spec.ts.snap
  src/components/InputDatePicker/input-date-picker.spec.ts
Due: eslint src --ext .ts .

feat: date picker (#124)
  docs/components.md
  package-lock.json
  package.json
  src/components/InputDatePicker/PdapInputDatePicker.vue
  src/components/InputDatePicker/README.md
  src/components/InputDatePicker/__snapshots__/input-date-picker.spec.ts.snap
  src/components/InputDatePicker/index.ts
  src/components/InputDatePicker/input-date-picker.spec.ts
  src/components/InputDatePicker/types.ts
  src/components/InputSelect/PdapInputSelect.vue
  src/components/index.ts
  src/demo/pages/FormV2Demo.vue
  src/index.ts
  src/styles/components.css
  stylelint.config.mjs
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  835b11f0a531aa0abb56ec780535a1638b2acf0b
Due: none

refactor(components): update input components to use dark mode styles
  src/components/FormV2/__snapshots__/formv2.spec.ts.snap
  src/components/Header/PdapHeader.vue
  src/components/Header/__snapshots__/header.spec.ts.snap
  src/components/Input/PdapInput.vue
  src/components/InputDatePicker/PdapInputDatePicker.vue
  src/components/InputPassword/PdapInputPassword.vue
  src/components/InputSelect/PdapInputSelect.vue
  src/components/Nav/PdapNav.vue
  src/components/Nav/__snapshots__/nav.spec.ts.snap
  src/styles/base.css
  src/styles/components.css
  stylelint.config.mjs
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(components): handle multi dates in date picker setter
  src/components/InputDatePicker/PdapInputDatePicker.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(components): date picker sub-button focus states
  src/components/InputDatePicker/PdapInputDatePicker.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor(components): misc style updates
  src/components/FormV2/PdapFormV2.vue
  src/styles/components.css
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor(components): use dark mode styles for input components (#125)
  src/components/FormV2/PdapFormV2.vue
  src/components/FormV2/__snapshots__/formv2.spec.ts.snap
  src/components/Header/PdapHeader.vue
  src/components/Header/__snapshots__/header.spec.ts.snap
  src/components/Input/PdapInput.vue
  src/components/InputDatePicker/PdapInputDatePicker.vue
  src/components/InputPassword/PdapInputPassword.vue
  src/components/InputSelect/PdapInputSelect.vue
  src/components/Nav/PdapNav.vue
  src/components/Nav/__snapshots__/nav.spec.ts.snap
  src/styles/base.css
  src/styles/components.css
  stylelint.config.mjs
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  9a9504e7377ecaaedf491efef4479bd338d4e24b
Due: none

fix(components): update keyboard navigation for select menu
  src/components/InputSelect/PdapInputSelect.vue
  src/directives/click-outside.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(components): radio input and radio group
  src/components/InputRadio/PdapInputRadio.vue
  src/components/InputRadio/index.ts
  src/components/InputRadio/input-radio.spec.ts
  src/components/InputRadio/types.ts
  src/components/InputRadioGroup/PdapInputRadioGroup.vue
  src/components/InputRadioGroup/index.ts
  src/components/InputRadioGroup/input-radio-group.spec.ts
  src/demo/pages/FormV2Demo.vue
  src/styles/components.css
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

docs(components): add docs for input radio
  src/components/InputRadio/README.md
Due: none

feat(components): add radio button and radio group (#127)
  docs/components.md
  src/components/InputRadio/PdapInputRadio.vue
  src/components/InputRadio/README.md
  src/components/InputRadio/index.ts
  src/components/InputRadio/input-radio.spec.ts
  src/components/InputRadio/types.ts
  src/components/InputRadioGroup/PdapInputRadioGroup.vue
  src/components/InputRadioGroup/index.ts
  src/components/InputRadioGroup/input-radio-group.spec.ts
  src/components/InputSelect/PdapInputSelect.vue
  src/demo/pages/FormV2Demo.vue
  src/directives/click-outside.ts
  src/styles/components.css
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  f92884624a656e58c8921aba8a9c93a6ec529cdb
Due: none

refactor: update checkbox and radio styling
  src/styles/components.css
Due: stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  61ac2bca85078c43045f72032b9ab6cd885b64a5
Due: none

fix(components): record type -> icon map
  src/components/RecordTypeIcon/RecordTypeIcon.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  7d4ae1c8fdcc4be7038bbba0f4ed259704904303
Due: none

fix(components): export radio components
  src/components/index.ts
  src/index.ts
Due: eslint src --ext .ts .

Notes added by 'git notes add'
  0370904f712a0f148b2750317110ebfc1e5a4548
Due: none

fix: record type icon
  src/components/RecordTypeIcon/RecordTypeIcon.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: record type icon
  src/components/RecordTypeIcon/__snapshots__/recordTypeIcon.spec.ts.snap
  src/components/RecordTypeIcon/recordTypeIcon.spec.ts
Due: eslint src --ext .ts .

fix: record type icon to lowercase
  src/components/RecordTypeIcon/RecordTypeIcon.vue
  src/components/RecordTypeIcon/__snapshots__/recordTypeIcon.spec.ts.snap
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  87fa267659d6f90e2bc3a6f1996af28768c730c0
Due: none

fix: select combobox tab behavior
  src/components/InputSelect/PdapInputSelect.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(components): select menu
  src/components/InputSelect/PdapInputSelect.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Path conditions:
  eslint src --ext .ts .: any of: *.{js,jsx,ts,tsx,vue}
  stylelint 'src/**/*.{css,vue}': any of: *.{css,vue}
