Repository Police-Data-Accessibility-Project/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

.lintstagedrc:

{    
  "*.{js,jsx,ts,tsx,vue}": [
      "eslint src --ext .ts ."
    ],
  "*.{css,vue}": [
      "stylelint 'src/**/*.{css,vue}'"
    ]
}

fix(ci): add fetch-depth: 0 to release action
  .github/workflows/release.yaml
Due: none

fix(ci): add fetch-depth: 0 to release action (#32)
  .github/workflows/release.yaml
Due: none

fix(ci): misc updates and fixes
  .github/CODEOWNERS
  .github/workflows/release.yaml
  .husky/pre-commit
  package.json
  release.config.cjs
Due: none

fix(ci): misc updates and fixes (#33)
  .github/CODEOWNERS
  .github/workflows/release.yaml
  .husky/pre-commit
  package.json
  release.config.cjs
Due: none

ci(release): update token used
  .github/workflows/release.yaml
Due: none

Revert "ci(release): update token used"
  .github/workflows/release.yaml
Due: none

chore: revert "ci(release): update token used"
  .github/workflows/release.yaml
Due: none

ci(release): attempt to use base GITHUB_TOKEN to raise PR
  .github/workflows/release.yaml
  package-lock.json
  package.json
  release.config.cjs
Due: none

ci(release): attempt to use base GITHUB_TOKEN to raise PR (#34)
  .github/workflows/release.yaml
  package-lock.json
  package.json
  release.config.cjs
Due: none

Notes added by 'git notes add'
  ca6bbc8c4c88e9abd6390f27289574f08c053baf
Due: none

ci: update release config
  release.config.cjs
Due: none

Notes added by 'git notes add'
  f25014f105abad43b77e6406c2dcf7ccb1b68807
Due: none

style: update lint errors
  config/index.ts
  release.config.cjs
  src/index.ts
Due: eslint src --ext .ts .

Notes added by 'git notes add'
  78d723c99895e0d4935a65f2532a13cbcd24eaaf
Due: none

ci: update config
  release.config.cjs
Due: none

docs(contributing): update example commits
  docs/CONTRIBUTING.md
Due: none

Notes added by 'git notes add'
  bab8dd4d57f7a971dd54d1e2e95dbc0daf2f5713
Due: none

ci(release): remove plugins updating git from semantic-release config
  package.json
  release.config.cjs
Due: none

docs(changelog): point to github release log
  CHANGELOG.md
Due: none

chore: cleanup package.json
  package.json
Due: none

Notes added by 'git notes add'
  4fe19fe26ae377ec0d83ade5773b786318d8a66e
Due: none

refactor: eorm tweaks
  src/components/Input/PdapInput.vue
  src/components/QuickSearchForm/QuickSearchForm.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor: button canges
  src/components/Button/PdapButton.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor: nav n header tweaks
  src/components/Header/PdapHeader.vue
  src/components/Nav/PdapNav.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

chore: updating package-lock from main
  package-lock.json
Due: none

chore: update packages
  package-lock.json
Due: none

refactor: iooter tweaks
  src/components/Footer/PdapFooter.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: no gray buttontext
  src/components/Footer/PdapFooter.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

style(quick search): remove custom styles
  src/components/QuickSearchForm/QuickSearchForm.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor: button indecisiveness
  src/components/Button/PdapButton.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: no gray buttonoutline
  src/components/Footer/PdapFooter.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: shorter placeholder text
  src/components/QuickSearchForm/QuickSearchForm.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: quick search justify start
  src/components/QuickSearchForm/QuickSearchForm.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

docs: misc updates to README, CONTRIBUTING
  README.md
  docs/CONTRIBUTING.md
Due: none

test: update Form, QuickSearchForm tests
  src/components/FlexContainer/flex-container.spec.ts
  src/components/Footer/__snapshots__/footer.spec.ts.snap
  src/components/Form/PdapForm.vue
  src/components/Form/form.spec.ts
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/components/QuickSearchForm/quick-search-form.spec.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

chore: remove or modify miscellaneous comments
  release.config.cjs
  src/components/Nav/nav.spec.ts
  tools/testing/serializer.ts
Due: eslint src --ext .ts .

docs: miscellaneous updates to README, CONTRIBUTING
  CONTRIBUTING.md
  README.md
  badges/build.svg
  badges/coverage.svg
  package-lock.json
  package.json
  tools/generateBuildBadge.js
  tools/generateCoverageBadge.js
Due: eslint src --ext .ts .

chore: miscellaneous config updates and comments
  .eslintignore
  .eslintrc.json
  bin/pdap-design-system-cli.js
  cli/index.js
  tsconfig.eslint.json
  tsconfig.json
Due: eslint src --ext .ts .

ci(pre-push): add commitlint from origin/HEAD - HEAD
  .husky/pre-push
  CONTRIBUTING.md
Due: none
