Repository Police-Data-Accessibility-Project/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(components): add textarea input (#111)
  src/components/FormV2/__snapshots__/formv2.spec.ts.snap
  src/components/FormV2/formv2.spec.ts
  src/components/InputTextArea/PdapInputTextArea.vue
  src/components/InputTextArea/index.ts
  src/components/InputTextArea/types.ts
  src/demo/pages/FormV2Demo.vue
  src/styles/components.css
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  f32dbb9de5cce9d1ce2c7bf50be4b00850691a83
Due: none

fix(components): export!
  src/components/index.ts
  src/index.ts
Due: eslint src --ext .ts .

fix(components): export textarea component (#112)
  src/components/index.ts
  src/index.ts
Due: eslint src --ext .ts .

Notes added by 'git notes add'
  b2673c9613053273c1352175d5fa3637f021d585
Due: none

fix: my dumb ass didnt export all the components
  src/components/index.ts
Due: eslint src --ext .ts .

fix: forgot yet another export (#113)
  src/components/index.ts
Due: eslint src --ext .ts .

Notes added by 'git notes add'
  fb5f0463cf8fe35e442ec5ee5e888acde8660b5c
Due: none

refactor(components): expose error state from form
  src/components/FormV2/PdapFormV2.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor(components): expose error state from form (#114)
  src/components/FormV2/PdapFormV2.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  9a8fc39d569ccccefff8cae6f6a6b548cf52f975
Due: none

refactor(components): emit error event from form
  src/components/FormV2/PdapFormV2.vue
  src/demo/pages/FormV2Demo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor(components): emit error event from form (#115)
  src/components/FormV2/PdapFormV2.vue
  src/demo/pages/FormV2Demo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  249837d90deaacdb72b932bad7df95ed6504c382
Due: none

fix(components): update form error handling
  src/components/FormV2/PdapFormV2.vue
  src/components/InputSelect/PdapInputSelect.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(components): effect -> watch effect
  src/components/FormV2/PdapFormV2.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: form error handling (#116)
  src/components/FormV2/PdapFormV2.vue
  src/components/InputSelect/PdapInputSelect.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  69c17a0dbb8384c01eff81b8bf7102a2a1ead3f8
Due: none

fix(components): select menu placeholder text
  src/components/InputSelect/PdapInputSelect.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: select menu placeholder styling (#117)
  src/components/InputSelect/PdapInputSelect.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  4137fb4df65848888c6cc7a0fe826f276a0a9478
Due: none

feat(components): update button loading state and slot
  src/components/Button/PdapButton.vue
  src/components/Button/__snapshots__/button.spec.ts.snap
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(components): fix input focus states and text sizes
  src/components/Input/PdapInput.vue
  src/components/InputSelect/PdapInputSelect.vue
  src/styles/components.css
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(components): update select border radius
  src/components/InputSelect/PdapInputSelect.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(components): update global focus state
  src/components/InputSelect/PdapInputSelect.vue
  src/styles/base.css
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat: add loading state to button (#118)
  src/components/Button/PdapButton.vue
  src/components/Button/__snapshots__/button.spec.ts.snap
  src/components/Input/PdapInput.vue
  src/components/InputSelect/PdapInputSelect.vue
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/styles/base.css
  src/styles/components.css
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  7ace5f7736fa3add5edf4e7412145589a5cee055
Due: none

fix(components): button children overlapping
  src/components/Button/PdapButton.vue
  src/components/Button/__snapshots__/button.spec.ts.snap
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: update transition mode
  src/components/Button/PdapButton.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

test: update tests
  src/components/Button/__snapshots__/button.spec.ts.snap
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
Due: none

fix: button loading overlap (#119)
  src/components/Button/PdapButton.vue
  src/components/Button/__snapshots__/button.spec.ts.snap
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  d35efc6763068b19009c2913ab05994b01a1da71
Due: none

fix: button children again
  src/components/Button/PdapButton.vue
  src/components/Button/__snapshots__/button.spec.ts.snap
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/demo/pages/FormV2Demo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: another time for the button children (#120)
  src/components/Button/PdapButton.vue
  src/components/Button/__snapshots__/button.spec.ts.snap
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/demo/pages/FormV2Demo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  1f293f5ea25f4ec9261c1ab3f78cd3ab6ffde728
Due: none

fix: button take 3
  src/components/Button/PdapButton.vue
  src/components/Button/__snapshots__/button.spec.ts.snap
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  491beed73f38cf122963a3edf8f043636f7a9f7c
Due: none

fix(components): update button loading state children
  src/components/Button/PdapButton.vue
  src/components/Button/__snapshots__/button.spec.ts.snap
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  3af1108988a9d6efe12461a332340b4abd3d980e
Due: none

chore(deps): update browserlist
  package-lock.json
Due: none

Path conditions:
  eslint src --ext .ts .: any of: *.{js,jsx,ts,tsx,vue}
  stylelint 'src/**/*.{css,vue}': any of: *.{css,vue}
