Repository Police-Data-Accessibility-Project/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor: miscellaneous lint issues
  src/components/Footer/PdapFooter.vue
  src/components/QuickSearchForm/QuickSearchForm.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: update build badge script
  badges/build.svg
  tools/generateBuildBadge.js
Due: eslint src --ext .ts .

refactor: 2023 launch aesthetic tweaks (#30)
  .eslintignore
  .eslintrc.json
  .husky/pre-push
  CONTRIBUTING.md
  README.md
  badges/build.svg
  badges/coverage.svg
  bin/pdap-design-system-cli.js
  cli/index.js
  package-lock.json
  package.json
  release.config.cjs
  src/components/Button/PdapButton.vue
  src/components/FlexContainer/flex-container.spec.ts
  src/components/Footer/PdapFooter.vue
  src/components/Footer/__snapshots__/footer.spec.ts.snap
  src/components/Form/PdapForm.vue
  src/components/Form/form.spec.ts
  src/components/Header/PdapHeader.vue
  src/components/Input/PdapInput.vue
  src/components/Nav/PdapNav.vue
  src/components/Nav/nav.spec.ts
  src/components/QuickSearchForm/QuickSearchForm.vue
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/components/QuickSearchForm/quick-search-form.spec.ts
  tools/generateBuildBadge.js
  tools/generateCoverageBadge.js
  tools/testing/serializer.ts
  tsconfig.eslint.json
  tsconfig.json
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(ci): revert husky push hook call to commitlint
  .husky/pre-push
Due: none

fix(ci): revert husky push hook call to commitlint (#37)
  .husky/pre-push
Due: none

Notes added by 'git notes add'
  be6d31d5c7d901f141c1f37a948a176796843117
Due: none

chore: npm audit fix
  package-lock.json
Due: none

fix: remove extra padding
  src/components/QuickSearchForm/QuickSearchForm.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: learn more link
  src/components/QuickSearchForm/QuickSearchForm.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: mobile nav spacing
  src/components/Nav/PdapNav.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

small tweaks (#38)
  package-lock.json
  src/components/Nav/PdapNav.vue
  src/components/QuickSearchForm/QuickSearchForm.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: small tweaks (#38)
  package-lock.json
  src/components/Nav/PdapNav.vue
  src/components/QuickSearchForm/QuickSearchForm.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  ce4390de6ea72de3cb79b80b72b715b956bc3408
Due: none

fix: tailwind clarity in readme
  README.md
Due: none

fix: tailwind clarity in readme (#39)
  README.md
Due: none

Notes added by 'git notes add'
  0302a79ba1aeb6facab87b04842cd845772ebd84
Due: none

fix(button): secondary button taking white outline
  src/components/Button/PdapButton.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(button): secondary button taking white outline (#41)
  src/components/Button/PdapButton.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  04cfe6a2cb4765be6bfe9ad441eb543da836e041
Due: none

refactor: create extendable eslint config
  .eslintignore
  .eslintrc.cjs
  .eslintrc.json
  .vscode/settings.json
  config/index.ts
  eslint-config/index.js
  eslint-config/package-lock.json
  eslint-config/package.json
  src/config/index.ts
  src/index.ts
  tailwind.config.js
  tsconfig.json
Due: eslint src --ext .ts .

chore(eslint package): update package.json author
  eslint-config/package.json
Due: none

test(quicksearchform): update outdated snapshot
  package.json
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
Due: none

chore: update package.json
  package-lock.json
  package.json
Due: none

refactor(components): add baseUrl prop to QuickSearchForm
  src/components/QuickSearchForm/QuickSearchForm.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor(components): baseUrl -> baseUrlForRedirect
  src/components/QuickSearchForm/QuickSearchForm.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

test(components): update QuickSearchForm test
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/components/QuickSearchForm/quick-search-form.spec.ts
Due: eslint src --ext .ts .

refactor(components): add baseUrl prop to QuickSearchForm (#45)
  src/components/QuickSearchForm/QuickSearchForm.vue
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/components/QuickSearchForm/quick-search-form.spec.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  190ec30a0cf792f9eaeb300843ade9fe4d647db7
Due: none

docs(readme): add documentation for eslint-config package
  README.md
Due: none

chore(deps): add scoped eslint package to top level package.json
  package-lock.json
  package.json
Due: none

docs(readme): update eslint-config installation instructions
  README.md
Due: none

ci(scripts): update test script
  package.json
Due: none

fix(footer): copyright current year
  src/components/Footer/PdapFooter.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: update no reserved component names rule
  eslint-config/index.js
Due: eslint src --ext .ts .

feat(components): add tertiary intent to Button
  package.json
  src/components/Button/PdapButton.vue
  src/components/Button/types.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  e97e5375e58748603f35c789eb0de1feaeb07e6e
Due: none

Revert "feat(components): add tertiary intent to Button"
  package.json
  src/components/Button/PdapButton.vue
  src/components/Button/types.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  0650150da8cef29635b14ecad3b1f1f388c75a3a
Due: none

test(components): update snapshots
  src/components/Footer/__snapshots__/footer.spec.ts.snap
Due: none

Path conditions:
  eslint src --ext .ts .: any of: *.{js,jsx,ts,tsx,vue}
  stylelint 'src/**/*.{css,vue}': any of: *.{css,vue}
