Repository Police-Data-Accessibility-Project/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

.lintstagedrc:

{    
  "*.{js,jsx,ts,tsx,vue}": [
      "eslint src --ext .ts ."
    ],
  "*.{css,vue}": [
      "stylelint 'src/**/*.{css,vue}'"
    ]
}

Notes added by 'git notes add'
  2a078197a1c4e5a6175e770d1c9b77b3d897e0af
Due: none

fix(components): input select not emitting change event
  src/components/InputSelect/PdapInputSelect.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  cf22d55cb4a5742bc846caead08ac523096d9eb1
Due: none

refactor(utils): update vuelidate to be more flexible
  src/components/Form/types.ts
  src/components/FormV2/types.ts
  src/components/InputDatePicker/PdapInputDatePicker.vue
  src/components/InputDatePicker/__snapshots__/input-date-picker.spec.ts.snap
  src/demo/pages/FormV2Demo.vue
  src/utils/isKey.ts
  src/utils/vuelidate.test.ts
  src/utils/vuelidate.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  edd44a582ce675f753f456a7028fe9e5af70a61a
Due: none

fix: checkbox and radio styles
  src/styles/components.css
Due: stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  867cd7466eae15ec0b92f02315aea328d9a96e49
Due: none

refactor(components): update component to v2
  src/components/Footer/PdapFooter.vue
  src/components/Footer/__snapshots__/footer.spec.ts.snap
  src/components/Footer/constants.ts
  src/components/Footer/footer.spec.ts
  src/components/Footer/index.ts
  src/components/Footer/types.ts
  src/demo/App.vue
  src/demo/pages/ComponentDemo.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

docs(components): update footer readme
  src/components/Footer/README.md
Due: none

refactor(components): add animation to footer
  src/components/Footer/PdapFooter.vue
  src/components/Footer/__snapshots__/footer.spec.ts.snap
  src/components/Footer/footer.spec.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor(components): update footer
  src/components/Footer/PdapFooter.vue
  src/components/Footer/__snapshots__/footer.spec.ts.snap
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor(components): add commas to dollar amounts
  src/components/Footer/PdapFooter.vue
  src/components/Footer/__snapshots__/footer.spec.ts.snap
  src/components/Footer/footer.spec.ts
  src/utils/format.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor: update footer to v2 design (#129)
  src/components/Footer/PdapFooter.vue
  src/components/Footer/README.md
  src/components/Footer/__snapshots__/footer.spec.ts.snap
  src/components/Footer/constants.ts
  src/components/Footer/footer.spec.ts
  src/components/Footer/index.ts
  src/components/Footer/types.ts
  src/demo/App.vue
  src/demo/pages/ComponentDemo.vue
  src/utils/format.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  ee862e6e64b7640224105f8ba65737fe0af1494e
Due: none

feat(components): update footer to expose link types
  src/components/index.ts
Due: eslint src --ext .ts .

Notes added by 'git notes add'
  9c12949cd13cdb0e581c08034d32ce043b903f06
Due: none

fix(footer): miscellaneous styling issues
  src/components/Footer/PdapFooter.vue
  src/components/Footer/__snapshots__/footer.spec.ts.snap
  src/components/Footer/footer.spec.ts
  src/components/RecordTypeIcon/RecordTypeIcon.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  b290f6ea5fc427a56cbc5b263c417ca7f4385629
Due: none

refactor(components): update footer success UI
  src/components/Footer/PdapFooter.vue
  src/components/Footer/__snapshots__/footer.spec.ts.snap
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  c21e9ea679683935053cdd0336676e232fb12e88
Due: none

fix(components): footer spacing and campaign progress
  src/components/Footer/PdapFooter.vue
  src/components/Footer/__snapshots__/footer.spec.ts.snap
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  8b0f125ea77b621a9aa15eedcd2d3b1a128059e4
Due: none

fix(tests): updated year causing snapshot to mismatch
  src/components/Footer/__snapshots__/footer.spec.ts.snap
Due: none

Notes added by 'git notes add'
  845084b7b7d132d16121fa0598f24df16e90ab6c
Due: none

feat: remove logo from header and footer
  src/components/ErrorBoundary/PdapErrorBoundary.vue
  src/components/ErrorBoundary/README.md
  src/components/Header/PdapHeader.vue
  src/components/Header/README.md
  src/components/Header/header.spec.ts
  src/components/Header/types.ts
  src/demo/App.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: tune nav text appearance
  src/components/Header/PdapHeader.vue
  src/styles/base.css
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(base.css): thinner header weights
  src/styles/base.css
Due: stylelint 'src/**/*.{css,vue}'

fix(header): tweak text logo style
  src/components/Header/PdapHeader.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(footer): replace linkedin and add email link to footer
  src/components/Footer/PdapFooter.vue
  src/components/Footer/README.md
  src/components/Footer/__snapshots__/footer.spec.ts.snap
  src/components/Footer/constants.ts
  src/components/Footer/footer.spec.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(header): add icon to header
  src/components/Header/PdapHeader.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(footer): remove fundraising and fix tests
  src/components/Footer/PdapFooter.vue
  src/components/Footer/README.md
  src/components/Footer/__snapshots__/footer.spec.ts.snap
  src/components/Footer/footer.spec.ts
  src/components/Footer/types.ts
  src/demo/App.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(header): tighter padding
  src/components/Header/PdapHeader.vue
  src/components/Nav/PdapNav.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(footer): softer icon colors
  src/components/Footer/PdapFooter.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(footer): update snapshot
  src/components/Footer/__snapshots__/footer.spec.ts.snap
Due: none

fix: lint warnings
  src/components/Footer/PdapFooter.vue
  src/components/Footer/footer.spec.ts
  src/components/Header/PdapHeader.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix: adjust darkmode colors
  src/components/Footer/PdapFooter.vue
  src/components/Footer/__snapshots__/footer.spec.ts.snap
  src/components/Header/PdapHeader.vue
  src/components/Nav/PdapNav.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(components): async typeahead dropdown component
  docs/components.md
  src/components/AsyncTypeahead/AsyncTypeahead.vue
  src/components/AsyncTypeahead/README.md
  src/components/AsyncTypeahead/__snapshots__/typeaheadinput.spec.ts.snap
  src/components/AsyncTypeahead/index.ts
  src/components/AsyncTypeahead/typeaheadinput.spec.ts
  src/components/AsyncTypeahead/types.ts
  src/components/index.ts
  src/demo/pages/TypeaheadDemo.vue
  src/demo/router.js
  src/index.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'
