Repository Police-Data-Accessibility-Project/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(footer): copyright current year (#46)
  src/components/Footer/PdapFooter.vue
  src/components/Footer/__snapshots__/footer.spec.ts.snap
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  ec242ac3bdbe097fd452e7bc42e199d53a60e10d
Due: none

feat(components): add tertiary intent to Button (#47)
  package.json
  src/components/Button/PdapButton.vue
  src/components/Button/types.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  51e21cde3ca801e82d079633d636bbc27972e93b
Due: none

feat(utils): add email and password validators to vuelidate util
  src/utils/vuelidate.ts
Due: eslint src --ext .ts .

test(utils): add tests for new validators
  src/utils/vuelidate.test.ts
Due: eslint src --ext .ts .

feat(components): integrate new validators into Form, Input components
  src/components/Form/types.ts
  src/components/Input/PdapInput.vue
  src/components/Input/types.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

test(components): update Form, Input component tests
  src/components/Form/__snapshots__/form.spec.ts.snap
  src/components/Form/form.spec.ts
  src/components/Input/__snapshots__/input.spec.ts.snap
  src/components/Input/input.spec.ts
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
Due: eslint src --ext .ts .

chore(config): update eslint config to allow @ts-expect-error
  .eslintrc.cjs
Due: none

refactor(misc): fix linting errors
  src/components/Input/input.spec.ts
  src/utils/vuelidate.test.ts
Due: eslint src --ext .ts .

feat(components): add password input support in Form
  src/components/Form/PdapForm.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

test(components): update Form tests
  src/components/Form/__snapshots__/form.spec.ts.snap
  src/components/Form/form.spec.ts
Due: eslint src --ext .ts .

feat: add email and password validators to form (#50)
  .eslintrc.cjs
  src/components/Form/PdapForm.vue
  src/components/Form/__snapshots__/form.spec.ts.snap
  src/components/Form/form.spec.ts
  src/components/Form/types.ts
  src/components/Input/PdapInput.vue
  src/components/Input/__snapshots__/input.spec.ts.snap
  src/components/Input/input.spec.ts
  src/components/Input/types.ts
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/utils/vuelidate.test.ts
  src/utils/vuelidate.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  b53b63903584fed95f651b12bfbb53cc48848dd4
Due: none

refactor(components): update form
  src/components/Form/PdapForm.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

test(components): update form snapshots
  src/components/Form/__snapshots__/form.spec.ts.snap
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
Due: none

refactor(components): add change emit to form for clearing custom errors
  src/components/Form/PdapForm.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor(components): update QuickSearchForm to clear error when form updates
  src/components/QuickSearchForm/QuickSearchForm.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

test(components): update QuickSearchForm test
  src/components/QuickSearchForm/quick-search-form.spec.ts
Due: eslint src --ext .ts .

refactor(components): update form (#51)
  src/components/Form/PdapForm.vue
  src/components/Form/__snapshots__/form.spec.ts.snap
  src/components/QuickSearchForm/QuickSearchForm.vue
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/components/QuickSearchForm/quick-search-form.spec.ts
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  83bd8f2911c3402cf1f098f2cd26c6e2238e051e
Due: none

style(quicksearch): question copy tweak
  src/components/QuickSearchForm/QuickSearchForm.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

fix(quicksearch): update snapshot to match
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
Due: none

style: quicksearch copy (#52)
  src/components/QuickSearchForm/QuickSearchForm.vue
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  06e97bf8251a303f75abdf1505f5736074298a74
Due: none

refactor(input): update label padding
  src/components/Input/PdapInput.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

feat(quicksearchform): add search examples
  src/components/QuickSearchForm/QuickSearchForm.vue
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

refactor(form): update debug log to only fire in development
  src/components/Form/PdapForm.vue
  tsconfig.json
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

test(quicksearchform): update test to include router link stub
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/components/QuickSearchForm/quick-search-form.spec.ts
Due: eslint src --ext .ts .

feat: quick search form updates (#53)
  src/components/Form/PdapForm.vue
  src/components/Input/PdapInput.vue
  src/components/QuickSearchForm/QuickSearchForm.vue
  src/components/QuickSearchForm/__snapshots__/quick-search-form.spec.ts.snap
  src/components/QuickSearchForm/quick-search-form.spec.ts
  tsconfig.json
Due: eslint src --ext .ts ., stylelint 'src/**/*.{css,vue}'

Notes added by 'git notes add'
  2828b82132c6f88e5887e308590c773549d43267
Due: none

refactor(cli): remove cli
  bin/pdap-design-system-cli.js
  cli/index.js
  package-lock.json
  package.json
Due: eslint src --ext .ts .

docs(redame): remove cli documentation
  README.md
Due: none

refactor: remove cli (#55)
  README.md
  bin/pdap-design-system-cli.js
  cli/index.js
  package-lock.json
  package.json
Due: eslint src --ext .ts .

ci(workflows): add build workflow for badge
  .github/workflows/build.yaml
Due: none

ci(workflows): add coverage badge workflow
  .github/workflows/coverage.yaml
Due: none

ci(workflows): update coverage badge workflow
  .github/workflows/coverage.yaml
Due: none

ci(workflows): update coverage and build badge action
  .github/workflows/build.yaml
  .github/workflows/coverage.yaml
Due: none

ci(workflows): update coverage badge workflow
  .github/workflows/coverage.yaml
  README.md
Due: none

ci(workflows): update badge
  .github/workflows/coverage.yaml
  package.json
Due: none

Path conditions:
  eslint src --ext .ts .: any of: *.{js,jsx,ts,tsx,vue}
  stylelint 'src/**/*.{css,vue}': any of: *.{css,vue}
